---
import DefensiveMeasureSelector from "./DefensiveMeasureSelector.astro";
---

<div id="side-bar-div">
  <div id="side-bar-content" class="sticky">
    Defensive Measures
    <DefensiveMeasureSelector />
  </div>  
</div>

<style>
  #side-bar-div {
    height: 100%;
  }
  #side-bar-content {
    padding-top: 20px;
  }
  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
  }
</style>
